@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

/* 
INFO

This file contains the global styles for the app.

Most styling is done within components, using style props. These are mostly utility classes to handle
styling changes under certain conditions, such as button hovers, as well as responsiveness.

*/

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.link-element {
  cursor: pointer;
}
.link-element:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 1024px) {

  .mobile-switch-to-column {
    flex-direction: column;
  }

  .mobile-switch-to-full-width {
    width: 90% !important; /* have to override chakra ui here */
  }

  .mobile-hidden {
    width: 0%;
  }
}
